<section class="module panel panel-default <%= expandable ? 'expandable' : '' %> col-lg-4 col-sm-6 col-xs-12">
  <h5 class="panel-heading"><%= title %></h5>
  <div data-load="<%= content_path %>" id="<%= name %>_module" data-load-order="<%= load_order %>">
    <%= render 'spinner' %>
  </div>
</section>