<div>
  <%= form_tag path, id: id %>
    <div class="form-group">
      <%= label_tag 'amount' %>
      <div class="input-group">
      <%= text_field_tag 'amount', '', placeholder: 'The amount of USD', class: 'form-control' %>
      <div class="btn-group input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
          <span data-bind="label" id="sendlabel">USD</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">USD</a></li>
          <li><a href="#">BTC</a></li>
       </ul>
       <input type="hidden" name="currency" value="USD">
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
    </div>

    <div class="form-group">
      <%= label_tag target %>
      <%= text_field_tag 'kerberos', '', placeholder: 'The Kerberos ID / BTC Address of the ' + target, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag 'Message' %>
      <%= text_field_tag 'message', '', placeholder: 'A kind word or two', class: 'form-control' %>
    </div>

    <%= submit_tag 'Authorize Transaction', class: 'btn btn-default' %>
  </form>

  <script>
    // FIXME This is ugly...
    window.setup_recipient_autocomplete("<%= id %>");
  </script>
</div>