<div>
  <%= form_tag transact_path, id: 'transfer_form', 'data-send-path' => transact_path, 'data-request-path' => request_money_path %>
    <%= hidden_field_tag 'fee_amount', (@send_money[:fee_amount] rescue 0) %>
    <div class="form-group">
      <%= label_tag 'action' %>
      <div class="btn-group btn-group-justified" id="transfer_action_btn_group">
        <a class="btn btn-default btn-primary">Send</a>
        <a class="btn btn-default">Request</a>
      </div>
      <%= hidden_field_tag 'action', 'send' %>
    </div>

    <div class="form-group">
      <%= label_tag 'amount' %>
      <div class="input-group">
        <%= text_field_tag 'amount', (@send_money[:amount] rescue nil), placeholder: "The amount of #{@default_currency} to send", class: 'form-control' %>
        <div class="btn-group input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
            <span data-bind="label" id="sendlabel"><%= @default_currency %></span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="currency_dropdown" role="menu">
            <li><a href="#">USD</a></li>
            <li><a href="#">BTC</a></li>
          </ul>
          <%= hidden_field_tag 'currency', @default_currency %>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
    </div>

    <div class="form-group">
      <%= label_tag target %>
      <%= text_field_tag 'kerberos', (@send_money[:recipient] rescue nil), placeholder: 'Kerberos ID or BTC Address', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag 'Message' %>
      <%= text_field_tag 'message', '', placeholder: 'A kind word or two', class: 'form-control' %>
    </div>

    <%= submit_tag 'Send Money', class: 'btn btn-primary' %>
  </form>

  <script>
    // FIXME This is ugly...
    window.setup_recipient_autocomplete("transfer_form");
  </script>
</div>