<div class="panel-body">
  <%= form_tag '#', id: 'buy_sell_form' %>
  <div class="form-group">
    <%= label_tag 'action' %>
    <div class="btn-group btn-group-justified" id="buy_sell_action_btn_group">
      <a class="btn btn-default btn-primary">Buy</a>
      <a class="btn btn-default">Sell</a>
    </div>
    <%= hidden_field_tag 'action', 'buy' %>
  </div>

  <div class="form-group">
    <%= label_tag 'amount' %>
    <div class="input-group">
      <%= text_field_tag 'amount', '', placeholder: 'USD amount', class: 'form-control' %>
      <span class="input-group-addon">USD <i class="fa fa-long-arrow-right"></i> BTC</span>
      <%= text_field_tag 'preview_amount', '', placeholder: 'BTC amount', class: 'form-control' %>
    </div><!-- /input-group -->
  </div>
</div>

<hr>
<div class="panel-body" id="sellprice" style="display: none;">
  <p><label>Current BitCoin Sell Price</label></p>
  <p><span class="well well-sm"> 1 BTC = <span id='buy_sell_current_rate'><%= @current_sell_price.round(2) %></span> USD</span></p>
</div>
<hr id="sellpricehr" style="display: none;">

<div class="panel-body" id="buyprice">
  <p><label>Current BitCoin Buy Price</label></p>
  <p><span class="well well-sm"> 1 BTC = <span id='buy_sell_current_rate'><%= @current_buy_price.round(2) %></span> USD</span></p>
</div>
<hr id="buypricehr">

<div class="panel-body">
  <%= submit_tag 'Buy', class: 'btn btn-primary' %>
</div>

</form>

</div>
