<%= form_tag transfers_create_path, id: 'buy_sell_form' %>
<div class="panel-body">
  <div class="form-group">
    <div class="btn-group btn-group-justified" id="buy_sell_action_btn_group">
      <a class="btn btn-default btn-primary">Buy</a>
      <a class="btn btn-default">Sell</a>
    </div>
    <%= hidden_field_tag 'transfer_action', 'buy' %>
  </div>

<div id="sellprice" style="display: none;">
  <label>Current Sell Price:</label><p><span class="well well-sm"> 1 BTC = <span id='sell_current_rate'><%= @current_sell_price %></span> USD</span> (not including fees)</p>
</div>

<div id="buyprice">
  <label>Current Buy Price:</label><p><span class="well well-sm"> 1 BTC = <span id='buy_current_rate'><%= @current_buy_price %></span> USD</span> (not including fees)</p>
</div>

  <div class="form-group">
    <%= label_tag 'amount' %>
    <div class="input-group">
      <%= text_field_tag 'amount', '', placeholder: 'BTC amount', class: 'form-control', onkeypress: 'window.validateNumField(event)' %>
      <span class="input-group-addon">BTC <i class="fa fa-long-arrow-right"></i> USD</span>
      <%= text_field_tag 'preview_amount', '', placeholder: 'USD amount', class: 'form-control', onkeypress: 'window.validateNumField(event)' %>
    </div><!-- /input-group -->
  </div>

  <table class="table buy-sell-table">
    <tbody>
      <tr>
        <td>Subtotal</td>
        <td id="table-amount-subtotal" class="table-amount">0.00 USD</td>
      </tr>
      <tr>
        <td>Coinbase Fees</td>
        <td id="table-amount-coinbase"  class="table-amount">0.00 USD</td>
      </tr>
      <tr>
        <td>Bank Fees</td>
        <td id="table-amount-bank"  class="table-amount">0.00 USD</td>
      </tr>
      <tr class="table-total">
        <td>Total</td>
        <td id="table-amount-total"  class="table-amount">0.00 USD</td>
      </tr>
    </tbody>
  </table>

  <%= submit_tag 'Buy', class: 'btn btn-primary' %>
</div>

</form>
