<div id="dashboard-wrapper" class="row">
	<section  id="detailed-wrapper" class="module panel panel-default transition col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
    <h5 class="panel-heading">Detailed View</h5>
    <div>
      <div class="dashboard-module-spinner-container">
        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
      </div>
    </div>
	</section>
	<section  id="popup-card-wrapper" class="module panel panel-default transition col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
    <h5 class="panel-heading">Detailed View</h5>
    <div>
      <div class="dashboard-module-spinner-container">
        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
      </div>
    </div>
	</section>
	<div id="mask" class="transition"></div>
	<div id="mask2" class="transition"></div>

	<%= render('module', load_order: 2, name: 'account_summary', title: 'Account Summary', content_path: dashboard_account_summary_path, expandable: false) %>

	<%= render('module', load_order: 1, name: 'transfer', title: 'Send & Request Money', content_path: dashboard_transfer_path, expandable: false) %>
  <!--
	<%= render('module', load_order: 1, name: 'address_book', title: 'Address Book', content_path: contacts_path, expandable: false) %>
	<%= render('module', load_order: 1, name: 'account_activity_history', title: 'Account Activity History', content_path: money_requests_path, expandable: true) %>
	<%= render('module', load_order: 3, name: 'buy_sell_bitcoin', title: 'Buy & Sell Bitcoin', content_path: dashboard_buy_sell_bitcoin_path, expandable: false) %>
	<%= render('module', load_order: 1, name: 'bitstation_feed', title: 'BitStation Feed', content_path: dashboard_bitstation_feed_path, expandable: false) %>
  -->
</div>
