<div>
  <%= form_tag transactions_path, id: 'transfer_form', 'data-send-path' => transactions_path, 'data-request-path' => money_requests_path %>
    <%= hidden_field_tag 'exchange_rate', @exchange_rate %>
    <%= hidden_field_tag 'fee_amount', (@send_money[:fee_amount] rescue 0) %>
    <div class="form-group">
      <%= label_tag 'action' %>
      <div class="btn-group btn-group-justified" id="transfer_action_btn_group">
        <a class="btn btn-default btn-primary">Send</a>
        <a class="btn btn-default">Request</a>
      </div>
      <%= hidden_field_tag 'action', 'send' %>
    </div>

    <div class="form-group">
      <%= label_tag 'amount' %>
      <div class="input-group">
        <div class="input-group">
          <%= text_field_tag 'amount_usd', '', placeholder: 'USD amount', class: 'form-control' %>
          <span class="input-group-addon">USD = BTC</span>
          <%= text_field_tag 'amount_btc', '', placeholder: 'BTC amount', class: 'form-control' %>
        </div><!-- /input-group -->
      </div><!-- /input-group -->
    </div>

    <div class="form-group">
      <%= label_tag 'Recipient' %>
      <%= text_field_tag 'kerberos', (@send_money[:recipient] rescue nil), placeholder: 'Kerberos ID or BTC Address', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag 'Message' %>
      <%= text_field_tag 'message', '', placeholder: 'A kind word or two', class: 'form-control' %>
    </div>

    <%= submit_tag 'Send Money', class: 'btn btn-primary' %>
  </form>

  <script>
    // FIXME This is ugly...
    window.setup_recipient_autocomplete("transfer_form");
    window.setup_transfer_button();
  </script>
</div>