<div>
  <%= form_tag transact_path %>
    <div class="form-group">
      <%= label_tag 'amount' %>
      <%= text_field_tag 'amount', '', placeholder: 'The amount to give in BTC, e. g. 0.001', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag 'recipient' %>
      <%= text_field_tag 'kerberos', '', placeholder: 'The Kerberos ID of the recipient', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag 'Message' %>
      <%= text_field_tag 'message', '', placeholder: 'A kind word or two', class: 'form-control' %>
    </div>
    <%= submit_tag 'Transfer', class: 'btn btn-default' %>
  </form>
</div>