<% if has_coinbase_account_linked? %>
  <table id="transaction-history-table" class="table table-responsive table-hover table-condensed">
    <tbody>
      <% @history.each do |entry| %>
        <!-- TODO ignore request transactions for now -->
        <% next if entry['request'] %>
        <tr class="<%= entry['sender']['id'] == @coinbase_id ? 'danger' : 'success' %>">
          <td><%= (DateTime.parse(entry['created_at']).to_date == @previous_date.to_date rescue false) ? '' : DateTime.parse(entry['created_at']).strftime('%b %d') %></td>
          <td><%= friendly_amount_from_money(entry['amount']) %></td>
          <td>
            <% if entry['transfer_type'] %>
              <%= entry['transfer_type'] %>
            <% else %>
              <%= entry['sender']['id'] == @coinbase_id ? 'to' : 'from' %></td>
            <% end %>
          <td>
          <% unless entry['transfer_type'] %>
            <% if entry['sender']['id'] == @coinbase_id %>
              <%= entry['recipient'] ? (CoinbaseAccount.find_by_email(entry['recipient']['email']).user.name rescue entry['recipient']['name']) : 'External Account' %>
            <% else %>
              <%= entry['sender'] ? (CoinbaseAccount.find_by_email(entry['sender']['email']).user.name rescue entry['sender']['name']) : 'External Account' %>
            <% end %>
          <% end %>
          </td>
        </tr>
        <% @previous_date = DateTime.parse(entry['created_at']) %>
      <% end %>
    </tbody>
  </table>
  <footer class="pagination-wrapper">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </footer>
<% else %>
  <p>Click <%= link_to 'here', link_coinbase_account_path %> to link a Coinbase account first</p>
<% end %>
