<div>
  <%= form_tag transact_path, id: 'transfer_form' %>
    <div class="form-group">
      <%= label_tag 'amount' %>
      <div class="input-group">
      <div class="btn-group input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
          <span data-bind="label">Select Currency</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">BTC</a></li>
          <li><a href="#">USD</a></li>
       </ul>
       <input type="hidden" name="currency" value="">
      </div><!-- /btn-group -->
       <%= text_field_tag 'amount', '', placeholder: 'The amount of currency to send', class: 'form-control' %>
    </div><!-- /input-group -->
    </div>

    <div class="form-group">
      <%= label_tag 'recipient' %>
      <%= text_field_tag 'kerberos', '', placeholder: 'The Kerberos ID / BTC Address of the recipient', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag 'Message' %>
      <%= text_field_tag 'message', '', placeholder: 'A kind word or two', class: 'form-control' %>
    </div>

    <%= submit_tag 'Transfer', class: 'btn btn-default' %>
  </form>

  <script>
    // FIXME This is ugly...
    window.setup_recipient_autocomplete();
  </script>
</div>