<p><%= @sender_name %> is requesting <%= friendly_amount(@amount, 'BTC') %> from you<%= @has_message ? ' saying:' : '.' %> </p>
<% if @has_message %>
  <p>"<%= @message %>"</p>
<% end %>
<p>Click <%= link_to 'here', @respond_link %> to send money to <%= @sender_name %>. </p>

