<% if @activities.empty? %>
  <div class="panel-body center">Nothing going on, really? :(</div>
<% else %>
  <% @activities.each do |a| %>
    <div class="panel-body">
      <div class="media">

        <div class="media-body popuppable" data-load="<%= a[:load] %>">
          <h5 class="media-heading"><%= a[:title] %></h5>
          <p><%= a[:content] %></p>
          <div>
            <% if a[:comments] %>
              <span class="label label-default"><%= pluralize(a[:comments][:count], 'Comment') %></span>
            <% end %>
            <div class="fb-like" data-href="<%= a[:like_link] %>" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
          </div>
        </div>
      </div>
    </div>

    <hr>
  <% end %>
<% end %>