<!DOCTYPE html>
<html>
<head>
  <title>BitStation</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'BitStation', root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Login with Kerberos', root_path %></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li>
            <% if signed_in? %>
              <%= link_to 'Sign out', sessions_destroy_path %>
            <% else %>
              <%= link_to 'Sign in', sessions_new_path %>
            <% end %>
          </li>
        </ul>
        <p class="navbar-text pull-right">Welcome, <%= current_user_name %></p>
      </div>
    </div>
  </div>

  <div class="container" id="flashes-container">
    <% flash.each do |key, value| %>
      <% next unless ['success', 'warning', 'info', 'error'].include?(key.to_s) %>
      <div class="alert alert-<%= key.to_s == 'error' ? 'danger' : key.to_s %>">
        <%= value %>
      </div>
    <% end %>
    <% if @flash %>
      <% @flash.each do |key, value| %>
        <% next unless ['success', 'warning', 'info', 'error'].include?(key.to_s) %>
        <div class="alert alert-<%= key.to_s == 'error' ? 'danger' : key.to_s %>">
          <%= value %>
        </div>
      <% end%>
    <% end %>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
  <!-- FOOTER -->
  <footer class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2014 BitStation. &middot;
        <%= link_to 'About', '/about' %> &middot;
        <%= link_to 'Security', '/security' %> &middot;
        <%= link_to 'FAQ', 'faq' %> &middot;
        <%= link_to 'Team', 'team' %> &middot;
        <%= link_to 'Privacy', 'privacy' %> &middot;
        <a href="MAILTO LINK HERE">Contact</a>
      </p>
      </div>
    </footer>

</body>
</html>
