<!DOCTYPE html>
<html>
<head>
  <title>
    <% if Rails.env.development? %>
      [Dev]
    <% end %>
    BitStation
    <% if @subtitle %>
      <%= " - #{@subtitle}" %>
    <% end %>
  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="<%= "#{params[:controller]}-#{params[:action]}" %>" class="<%= "#{params[:controller]}-action" %>">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'BitStation', root_path, class: 'navbar-brand text-hide' %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li><p class="navbar-text">Welcome, <%= current_user_name %> <%= signed_in_with_access_code? ? '(*)' : ''%></li>
            <% if signed_in? %>
              <%= link_to 'Sign out', sign_out_path, class: "btn btn-primary btn-sm pull-right" if signed_in? %>
            <% elsif !@auth_link.nil? %>
              <% if Rails.env.development? %>
                <%= link_to 'Nelly\'s Backdoor', @nelly_auth_link, class: 'btn btn-primary btn-sm pull-right' %>
              <% end %>
              <%= link_to 'MIT Certificate Login', @auth_link, class: 'btn btn-primary btn-sm pull-right' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="wrapper-main" class="<% if params[:controller] == "dashboard" %>
                <%= "container" %>
              <% else %>
                <%= "container-fluid" %>
              <% end %>">
    <div class="row"><% flash.each do |key, value| %>
      <% next unless ['success', 'warning', 'info', 'error'].include?(key.to_s) %>
      <div class="alert alert-<%= key.to_s == 'error' ? 'danger' : key.to_s %> <%= key.to_s == 'success' ? '' : 'alert-dismissible' %>" role="alert">
        <% if key.to_s != 'success' %>
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <% end %>
        <%= value %>
      </div>
    <% end %>
    <% if @flash %>
      <% @flash.each do |key, value| %>
        <% next unless ['success', 'warning', 'info', 'error'].include?(key.to_s) %>
        <div class="alert alert-<%= key.to_s == 'error' ? 'danger' : key.to_s %> <%= key.to_s == 'success' ? '' : 'alert-dismissible' %>" role="alert">
          <% if key.to_s != 'success' %>
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <% end %>
          <%= value %>
        </div>
      <% end%>
    <% end %>
    </div>
    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
  <!-- FOOTER -->
  <footer class="container">
    <div class="">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2014 BitStation. &middot;
        <%= link_to 'About', about_path %> &middot;
        <%= link_to 'Security', security_path %> &middot;
        <%= link_to 'FAQ', faq_path %> &middot;
        <%= link_to 'Team', team_path %> &middot;
        <%= link_to 'Privacy', privacy_path %> &middot;
        <a href="mailto:someone@example.com" target="_top">Contact</a>
      </p>
    </div>
  </footer>

</body>
</html>
