<!DOCTYPE html>
<html>
<head>
  <title>BitStation</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{params[:controller]}_#{params[:action]}" %>">
  <div class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'BitStation', root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li>
            <% if signed_in? %>
              <%= link_to 'Sign out', sign_out_path %>
            <% else %>
              <%= link_to 'Sign in with Kerberos', sign_in_path %>
            <% end %>
          </li>
        </ul>
        <p class="navbar-text pull-right">Welcome, <%= current_user_name %></p>
      </div>
    </div>
  </div>

  <div class="container" id="flashes-container">
    <% flash.each do |key, value| %>
      <% next unless ['success', 'warning', 'info', 'error'].include?(key.to_s) %>
      <div class="alert alert-<%= key.to_s == 'error' ? 'danger' : key.to_s %>">
        <%= value %>
      </div>
    <% end %>
    <% if @flash %>
      <% @flash.each do |key, value| %>
        <% next unless ['success', 'warning', 'info', 'error'].include?(key.to_s) %>
        <div class="alert alert-<%= key.to_s == 'error' ? 'danger' : key.to_s %>">
          <%= value %>
        </div>
      <% end%>
    <% end %>
  </div>

  <div id="wrapper-main" class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
  <!-- FOOTER -->
  <footer class="container">
    <div class="">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2014 BitStation. &middot;
        <%= link_to 'About', about_path %> &middot;
        <%= link_to 'Security', security_path %> &middot;
        <%= link_to 'FAQ', faq_path %> &middot;
        <%= link_to 'Team', team_path %> &middot;
        <%= link_to 'Privacy', privacy_path %> &middot;
        <a href="MAILTO LINK HERE">Contact</a>
      </p>
      </div>
    </footer>

</body>
</html>
